{% extends 'dashboard.html.twig' %}

{% block title %}Nouvelle media{% endblock %}

{% block body %}
    
    <div class="alert alert-primary mt-4">
        <h3>Ajout d'un media</h3>
    </div>
    {{ include('activity/media/_form.html.twig') }}

    <a href="{{ path('media.index') }}" class="text-right">Retour à l'index</a>
{% endblock %}
