{% extends 'dashboard.html.twig' %}

{% block title %}Nouvelle activité{% endblock %}

{% block body %}
    <div class="alert alert-primary text-center my-3">
        <h3> Ajouter une nouvelle activité</h3>
    </div>
    <div class="col-md-10 mx-auto">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}